<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/override.css">
  </head>
  <body>
    <body>
      <h1 class="jumbotron text-center">Administrator</h1>
      <nav class = "navbar navbar-dark bg-dark text-center">
      <nav class = "col">
       <a href="home"><button class="navbar-text btn home">Home</button></a>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id="nav-emp">Employees</button>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id ="nav-man">Managers</button>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id= "nav-admin">Administrators</button>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id="nav-comp">Companies</button>
      </nav>
      <nav class = "col">
        <a href= "home"><button class="navbar-text btn" id="logout">Logout</button></a>
      </nav>
    </nav>
	<script src="static/scripts/administrator_home.js"></script>
  </body>
</html>