<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/override.css">
  </head>
  <body>
      <h1 class="jumbotron text-center">Manager</h1>
      <nav class = "navbar navbar-dark bg-dark text-center">
      <nav class = "col">
       <a href="home"><button class="navbar-text btn home">Home</button></a>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id="nav-emp">Employees</button>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id ="nav-man">Managers</button>
      </nav>
      <!--
      <nav class = "col">
        <button class="navbar-text btn" id= "nav-admin">Administrators</button>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id="nav-comp">Companies</button>
      </nav>
      -->
      <nav class = "col">
        <a href= "home"><button class="navbar-text btn" id="logout">Logout</button></a>
      </nav>
    </nav>
    <div class = "row text-center">
    <div class ="col">
	    	<h3>Info</h3>
	    	<div id="info-container">
	    		<p id="name"></p>
	    		<p id="position"></p>
	    		<p id="email"></p>
	    		<p id="phone"></p>
	    		<p id="address"></p>
	    	</div>
	    	<div class = "row text-center">
	    		<div class ="col"></div>
	    		<div class ="col">
	    			<div class="form-group">
                <h4>Employee Name:</h4>
                <select class="custom-select" id="employee-select" name="employee-select">
                	<option id = "all-emp" value="all">all</option>
                </select>
                <button class = "btn btn-primary" id = "apply-filter">Apply Filter</button>
              </div>
	    		</div>
	    		<div class ="col"></div>
	    	</div>
	    </div>
	</div>
    <div class = "row text-center">
    	<div class ="col">
	    	<h3>Resolved Reimbursements</h3>
	    	<table class = "table table-bordered" id = "resolved-reimbursements">
                	<tr>
                		<th>Amount</th>
                		<th>Date</th>
                		<th>Reason</th>
                		<th>Status</th>
                		<th>Deciding Manager</th>
                	</tr>
                </table>
	    </div>
	    <div class ="col">
	    	<h3>Pending Reimbursements</h3>
	    	<table class = "table table-bordered" id = "pending-reimbursements">
                <tr>
                	<th>Amount</th>
                	<th>Date</th>
                	<th>Reason</th>
                	<th>Status</th>
                	<th>Approve</th>
                	<th>Deny</th>
                </tr>
             </table>
	    </div>
	    
    </div>          
    <script src="static/scripts/manager_home.js"></script>
  </body>
</html>