<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ERS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/override.css">
  </head>
  <body>
    <body>
      <h1 class="jumbotron text-center">Account Request</h1>
      <nav class = "navbar navbar-dark bg-dark text-center">
      <nav class = "col">
       <a href="home"><button class="navbar-text btn home">Home</button></a>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id="nav-emp">Employees</button>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id ="nav-man">Managers</button>
      </nav>
      <!--  
      <nav class = "col">
        <button class="navbar-text btn" id= "nav-admin">Administrators</button>
      </nav>
      <nav class = "col">
        <button class="navbar-text btn" id="nav-comp">Companies</button>
      </nav>
      -->
      <nav class = "col">
        <a href= "home"><button class="navbar-text btn" id="logout">Logout</button></a>
      </nav>
    </nav>
      <div class="container">
        <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="first-name">First Name:</label>
                <input type="text" class="form-control" name="first-name" id="first-name">
              </div>
              <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" class="form-control" name="last-name" id="last-name">
              </div>
              <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" name="address" id="address">
              </div>
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" class="form-control" name="phone" id="phone">
              </div>
              <div class="form-group">
                <label for="position">Position:</label>
                <input type="text" class="form-control" name="position" id="position">
              </div>
              <div class="form-group">
                <label for="account-type">Account Type:</label>
                <select class="custom-select" id="account-type" name="account-type">
                  <option value="0">Employee</option>
                  <option value="1">Manager</option>
                 <!--  <option value="2">Administrator</option>--> 
                </select>
              </div>
              
              <div class="form-group">
                <label for="account-type">Company:</label>
                <select class="custom-select" id="company" name="company">
                </select>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" id="email">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password">
              </div>
              <button type="submit" class="btn btn-success" id="create">Submit</button>
          </div>
        </div>
      </div>
      <script src="static/scripts/new_account.js"></script>
  </body>
</html>